@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #222222;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-top: 6rem;
    margin-bottom: 5rem;
    gap: 1rem;
    grid-column: 1/-1;
}

.logo h1 {
    color: #D0383E;
    font-size: 5em;
}

.logo svg {
    width: 160px;
    height: 110px;
}

.catsContiner {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.catsContiner img {
    height: 100%;
    width: 100%;
}


@media only screen and (max-width: 992px) {
    .catsContiner {
        grid-template-columns: auto;
    }

    .catsContiner img {
        max-width: 100%;
    }

    .logo {
        margin-left: 5%;
        margin-top: 6rem;
        margin-bottom: 5rem;
    }

    .logo h1 {
        font-size: 3em;
    }
}


@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .catsContiner {
        grid-template-columns: auto auto;
    }

    .catsContiner img {
        max-width: 100%;
    }
}